@model IEnumerable<WebPlatform.DataAccess.ViewModels.TicketViewModel>

<h2>Buy Tickets</h2>

@foreach (var ticket in Model)
{
    <div class="row">
        <div class="col-md-3">@ticket.CategoryName</div>
    </div>
}
