@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>From some guys from colombia, germany and switzerland</p>

<h3>Daniel Sanchez</h3>
<h3>David Gutierrez</h3>
<h3>Matthias Bärtschi</h3>
<h3>Jeronimo </h3>
<br/>
<br />
<br />
<div>
    <img src="~/images/neo.jpg" height="100" />&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/images/swisscom.jpg" height="100" />
</div>
