<br/>
<br />
<br />
<br />
<br />
<br />
<br />

<div style="padding-right: 50%">
    <a asp-controller="Registration" asp-action="Index"><h2><img src="~/images/register.png" height="30"/>&nbsp;Register a person</h2></a>
    <a asp-controller="Check" asp-action="Index"><h2><img src="~/images/passport.jpg" height="30" />&nbsp;Check a passportnumber</h2></a>
</div>